
.burger {
  width: var(--width);
  height: var(--height);
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  background-color: transparent;
  border: none;
  --height: 1.5rem;
  --width: calc(var(--height) * 1.14);
  --span-height: calc(var(--height) / 5);
  --span-active-move-x: calc(var(--width) / 12);
  --span-active-move-y: calc(var(--height) / 1.7);
}

.burger span {
  display: block;
  position: absolute;
  height: var(--span-height);
  width: 50%;
  background: var(--black-100);
  opacity: 1;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-child(even) {
  left: 50%;
  border-radius: 0 var(--span-height) var(--span-height) 0;
}

.burger span:nth-child(odd) {
  left: 0;
  border-radius: var(--span-height) 0 0 var(--span-height);
}

.burger span:nth-child(1), .burger span:nth-child(2) {
  top: 0;
}

.burger span:nth-child(3), .burger span:nth-child(4) {
  top: calc(var(--span-height) * 2);
}

.burger span:nth-child(5), .burger span:nth-child(6) {
  top: calc(var(--span-height) * 4);
}

.burger.active span:nth-child(1), .burger.active span:nth-child(6) {

  transform: rotate(45deg);
}

.burger.active span:nth-child(2), .burger.active span:nth-child(5) {

  transform: rotate(-45deg);
}

.burger.active span:nth-child(1) {
  left: var(--span-active-move-x);
  top: calc(var(--height) / 6.5);
}

.burger.active span:nth-child(2) {
  left: calc(50% - var(--span-active-move-x));
  top: calc(var(--height) / 6.5);
}

.burger.active span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.burger.active span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.burger.active span:nth-child(5) {
  left: var(--span-active-move-x);
  top: var(--span-active-move-y);
}

.burger.active span:nth-child(6) {
  left: calc(50% - var(--span-active-move-x));
  top: var(--span-active-move-y);
}
